<header>
  <div class="wrapper">
    <a href="/" class="logo"><span class="capital">S</span>tudy <span class="capital">S</span>heets</a>

    <nav>
      <a href="/tutorial">Tutorial</a>
      <a href="/workspace">Workspace</a>
      <a href="">Worksheets</a>
      <a href="">Subjects</a>
    </nav>
  </div>
</header>
