<header>
  <div class="wrapper">
    <a href="/" class="logo"><span class="capital">S</span>tudy <span class="capital">S</span>heets</a>

    <nav>
      <a class="tutorial-link" href="/tutorial">Tutorial</a>
      <a class="workspace-link" href="/workspace">Workspace</a>
      <a class="worksheet-link" href="/worksheets">Worksheets</a>
      <a class="subjects-link" href="/subjects">Subjects</a>
