<% include partials/boilerplate %>
<body>
<% include partials/header %>

<main class="wrapper">
  <div class="home_img"><img src=""></div>
  <div class="tipsntricks">
    <h1>Hello there!</h1>

    <ul class="tips">
      <li><span class="topic_stc">Don't wait until the last minute to study</span>, especially if you're having trouble with the material. While it may work for some, it is not considered best practice.</li>
      <li><span class="topic_stc">Convert your notes into index cards</span> (virtual or otherwise). With the questions on the front, and the answers on the back, it forces your brain to memorize the material.</li>
      <li><span class="topic_stc">Organize.</span> Keep a journal to keep track of what exams you'll be taking, and when. This can be very useful during finals and/or midterms week.</span></li>
      <li><span class="topic_stc">Be prepared.</span>Make sure your notes are all in one place. Don't be afraid to ask your professors what types of questions will be given. It never hurts to know all the details. Also, practice by taking past versions of the exam. It gives you a clue as to what types of questions will be in your exam.</li>
      <li><span class="topic_stc">Take regular breaks.</span> I'm sure you've heard the phrase 'Everything in moderation'. Well, it applies to studying too. Taking regular breaks can help with long-term retention of knowledge.</li>
    </ul>
    <p>For more tips, <a href="https://www.topuniversities.com/student-info/health-and-support/exam-preparation-ten-study-tips" target="_blank">click here</a></p>

    <div class="logins">
      <button data-signval="sign_up">Get Started!</button>
      <button data-signval="sign_in">Time To Study</button>
    </div>
  </div>
</main>

<div class="signup_in_container">
  <form id="signin_form" class="signup" method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="form_options">
      <input id="submit" type="submit" value="Sign In">
      <button id="cancel">Cancel</button>
    </div>
  </form>
</div>

<% include partials/script %>
<% include partials/end %>
