<% include partials/boilerplate %>
<body class="subjects-container">
<% include partials/header %>
<% include partials/logout %>
<% include partials/headerend %>

<main class="wrapper">
  <h1>Subjects</h1>
</main>

<% include partials/end %>
