<% include partials/boilerplate %>
<body class="tutorial-container">
<% include partials/header %>
<% include partials/headerend %>

<main class="wrapper">
  <h1>Tutorial</h1>
</main>

<% include partials/end %>
