:root {
  --offWhite: #f6fae6;    /*rgb(246, 250, 230)*/
  --lightYellow: #ead76c; /*rgb(234, 215, 108)*/
  --darkYellow: #d5aa19;  /*rgb(213, 170, 25)*/
  --lightGreen: #9fc177;  /*rgb(159, 193, 119)*/
  --darkGreen: #81a65f;   /*rgb(129, 166, 95)*/
  --dark: rgb(34, 34, 34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline-color: var(--darkYellow);
}

body {
  font: 16px "Montserrat", sans-serif;
  background: url('../img/bg.png') top center;
  background-size: cover;
}

a:active {
  color: var(--darkGreen);
}

/* Set size of window size */

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

/* Header */

header {
  line-height: 50px;
  background: var(--dark);
}

.hamburger {
  width: 30px;
  border-radius: 2px;
  border: 1px solid #fff;
  position: absolute;
  top: 10px;
  right: 20px;
  display: none;
}

.hamburger > div {
  width: 70%;
  margin: 5px auto;
  border: 1px solid #fff;
}

header a {
  display: inline-block;
}

header a:not(.logo) {
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 30px;
  border: 2px solid transparent;
  transition: .3s;
}

header a:not(.logo):hover {
  color: var(--lightYellow);
  border-bottom: 2px solid var(--offWhite);
}

.logo, .capital {
  color: #fff;
  font: 35px/50px "Gaegu", cursive;
  transition: .3s;
  padding-left: 10px;
}

.capital {
  color: var(--lightYellow);
}

.logo:hover .capital {
  color: var(--darkYellow);
}

nav {
  position: static;
}

/*Navigation current page */
.workspace-container .workspace-link,
.worksheet-container .worksheet-link,
.subjects-container .subjects-link {
  color: var(--lightYellow);
  border-bottom: 2px solid var(--offWhite);
}

/* Landing page */
.tips-container {
  width: 100%;
  background: rgba(34, 34, 34, .8);
  padding: 30px;
}

.tipsntricks {
  max-width: 900px;
  margin: 0 auto;
}

.tipsntricks h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-family: 'Gaegu', cursive;
}

.tips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.tips li {
  width: 45%;
  list-style: none;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
}

.topic-stc {
  color: #00BF1D;
  font-weight: 900;
}

.for-more, .for-more + p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.for-more {
  margin-top: 50px;
}

.for-more + p {
  margin: 10px 0 20px;
}

.for-more a {
  color: var(--darkYellow);
}

.logins {
  width: 300px;
  margin: 40px auto;
}

.logins > * {
  cursor: pointer;
  background: rgba(0, 0, 0, .5);
  color: var(--lightYellow);
  padding: 10px 20px;
  border: 1px solid var(--darkYellow);
}

.logins > *:hover {
  background: rgba(0, 0, 0);
}

/* Forms */

form.form {
  max-width: 500px;
  margin: 100px auto 0;
  border: 1px solid #000;
  padding: 50px 30px;
  background: rgb(0, 0, 0, .7);
  box-shadow: 1px 1px 15px #fff, 1px 1px 15px #fff;
  color: #fff;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  font-size: 20px;
}

form div {
  margin-bottom: 20px;
}

.signup-in input {
  width: 69%;
  font-size: 22px;
}

.rol {
  text-align: center;
}

@media (max-width: 457px) {
  label.not(.radio-true label) {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .signup-in input {
    width: 98%;
    margin: 0 auto;
  }
}

.rol a {
  color: var(--lightYellow);
}

input:not('[type="radio"]') {
  width: 69%;
  font-size: 22px;
}

textarea {
  width: 69%;
  height: 100px;
  resize: none;
  font-size: 19px;
}

select {
  width: 70%;
  height: 30px;
  font-size: 16px;
}

[type="radio"] {
  margin: 10px 10px 0 29%;
}

[type="radio"] + label {
  margin: 4px 0 0 5px;
}

[type="submit"],
.nxt,
.signup-in [type="submit"] {
  display: block;
  width: 200px;
  margin: 50px auto 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid var(--offWhite);
  color: var(--offWhite);
  background: var(--darkYellow);
}

[type="submit"]:hover,
.nxt:hover {
  background: var(--lightYellow);
}

.form-options {
  margin-top: 40px;
}

.form-options > * {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
  cursor: pointer;
}

/* Worksheets page */
.worksheets {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.worksheet {
  width: 48%;
  margin: 10px 1%;
  display: flex;
  min-height: 150px;
  border-color: var(--lightGreen) var(--dark);
  border-width: 1px 5px;
  border-style: solid;
  position: relative;
  color: #fff;
  background: rgba(0, 0, 0, .8);
}

.worksheet > * {
  padding: 30px;
}

.worksheet > div:nth-of-type(1) {
  width: 100px;
  background: var(--dark);
  font-size: 60px;
  position: relative;
}

.worksheet .ss {
  font-family: "Gaegu", cursive;
  position: absolute;
  color: var(--darkYellow);
}

.ss:nth-of-type(1) {
  top: 0;
  left: 15px;
}

.ss:nth-of-type(2) {
  bottom: 0;
  right: 20px;
}

.worksheet > div:nth-of-type(2) {
  padding: 30px 30px 0 30px;
}

.worksheet button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--darkGreen);
  padding: 10px;
  font-size: 15px;
  color: var(--offWhite);
  border: none;
}

.in-works {
  opacity: .3;
  outline: none;
}

.worksheet .awd-btn:hover {
  background: var(--lightGreen);
}

@media (max-width: 1076px) {
  .worksheets {
    display: block;
  }

  .worksheet {
    width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 487px) {
  .worksheet {
    width: 95%;
  }
}

/* Workspace */
.workspace,
.workspace-edit {
  height: 800px;
  display: flex;
}

.greeting {
  color: #fff;
  font-size: 20px;
  text-align: right;
}

.workspace > div, .workspace-edit > div {
  padding: 20px;
}

/* Workspace Worksheets List */
.workspace > div:nth-of-type(1),
.workspace-edit > div:nth-of-type(1) {
  width: 250px;
  background: rgba(34, 34, 34, .9);
  color: #fff;
  overflow: scroll;
}

.allw {
  font-size: 22px;
  color: var(--darkGreen);
  margin-bottom: 20px;
}

.worksheet-name {
  font-size: 14px;
  margin-bottom: 8px;
}

.w-name {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Displayed Card */
.workspace > div:nth-of-type(2) {
  width: calc(100% - 500px);
  padding: 30px 30px 10px;
  overflow: scroll;
  background: rgba(0, 0, 0, .4);
}

.bar {
  position: relative;
  top: -5px;
  border: 1px solid var(--dark);
  display: inline-block;
  margin: 0 20px;
  width: 30px;
}

.type {
  color: var(--darkGreen);
}

.card-display {
  max-width: 600px;
  margin: 40px auto;
  padding: 50px 0 30px;
}

.card {
  width: 100%;
  margin-bottom: 30px;
  background: rgba(246, 250, 230, .9);
  padding: 30px;
  font-size: 14px;
}

.question {
  font-size: 22px;
}

.mc-options {
  margin: 18px 0 0;
}

.option-letter {
  font-weight: 600;
  font-size: 20px;
  color: var(--darkGreen);
  margin: 0 20px 0 0;
}

.option {
  margin: 8px 0;
  font-size: 18px;
}

h1.option {
  font-size: 22px;
}

.a-container {
  font-size: 20px;
}

.hide {
  display: none;
}

.answer {
  cursor: pointer;
}

.answer > p {
  background: rgba(34, 34, 34, .9);
  box-shadow: 1px 1px 1px var(--darkGreen), -1px 1px 10px var(--darkGreen);
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  width: 170px;
  height: 170px;
  margin: 40px auto 0;
  font: 100px/170px "Montserrat", sans-serif;
  color: var(--lightGreen);
}

.wsp-link, .not-active {
  padding: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.wsp-link {
  padding: 10px;
  background: rgba(213, 170, 25, .7);
  border: 1px solid white;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  transition: .2s;
  margin: 0 40px 0 0;
}

.wsp-link:hover {
  background: rgb(213, 170, 25);
}

.not-active {
  color: #fff;
  border: 2px solid transparent;
  background: rgba(0, 0, 0, .8);
}

.not-active:active {
  color: #000;
}

.pn-buttons > * {
  display: inline-block;
  margin: 0px 30px 0 0;
}

/* Card Links */
.workspace > div:nth-of-type(3) {
  width: 250px;
  height: 100%;
  font-size: 10px;
  background: var(--darkGreen);
  background: rgba(129, 166, 95, .7);
  overflow: scroll;
}

.card-link {
  margin: 20px 10px;
  padding: 10px;
  background: #fff;
  border: 2px solid transparent;
  font-weight: 600;
  color: #000;
  transition: .3s;
}

.card-link:hover {
  border: 2px solid var(--dark);
}

.card-link .w-name {
  font-size: 8px;
  margin-bottom: 5px;
}

.current {
  border: 2px solid var(--dark);
}

.card-link::after {
  content: "?";
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px auto 5px;
  padding: 10px;
  background: rgba(34, 34, 34, .9);
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  font: 30px/30px "Montserrat", sans-serif;
  color: var(--darkYellow);
}

/* Edit container */
.workspace-edit > div:nth-of-type(2) {
  width: calc(100% - 250px);
  padding: 30px 20px 10px;
  overflow: scroll;
  background: rgba(0, 0, 0, .4);
}

.worksheet-drop {
  height: 70px;
  margin-bottom: 25px;
  border-bottom: 2px solid #fff;
  position: relative;
}

.drop {
  font-size: 13px;
  width: 170px;
  padding: 8px 0;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--darkGreen);
  color: var(--offWhite);
  border: 1px solid var(--darkGreen);
}

.drop:hover {
  background: var(--lightGreen);
  border: 1px solid var(--lightGreen);
}

.created-cards {
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.card-edit {
  background: var(--offWhite);
  width: 300px;
  margin: 1.66%;
  padding: 20px;
}

.qa-line {
  margin: 10px 0 15px;
  font-size: 18px;
}

.edit-s {
  font-weight: 600;
  color: var(--darkGreen);
}

.edit-ws {
  font-size: 12px;
}

.update-delete {
  display: flex;
  justify-content: space-around;
}

.update, .delete {
  margin: 20px 0 0;
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 10px;
  color: #fff;
}

.update {
  background: var(--dark);
}

.update:hover {
  background: var(--lightYellow);
}

.delete {
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  background: var(--dark);
}

.delete:hover {
  background: var(--lightRed);
}

.subjects {
  max-width: 500px;
  text-align: center;
  margin: 80px auto;
  padding: 30px;
  background: rgb(0, 0, 0, .8);
}

.subjects h1 {
  color: #fff;
  font-size: 60px;
  font-family: 'Gaegu', cursive;
  margin-bottom: 10px;
}

.subjects a {
  display: block;
  color: #00BF1D;
  font-size: 25px;
  margin-bottom: 10px;
}

.subjects a:hover {
  text-decoration: underline;
}

.radio-true {
  display: flex;
  align-content: middle;
}

@media (max-width: 1166px) {
  .hamburger {
    display: block;
  }

  header .wrapper {
    display: block;
  }

  header a {
    display: block;
  }

  header a:not(.logo) {
    text-align: center;
  }

  nav {
    position: absolute;
    width: 100%;
    background: var(--dark);
    display: none;
    z-index: 2;
  }
}

@media (max-width: 1000px) {
  .workspace,
  .workspace-edit {
    display: block;
    width: 100%;
  }

  .workspace > div:nth-of-type(1),
  .workspace > div:nth-of-type(2),
  .workspace-edit > div:nth-of-type(1),
  .workspace-edit > div:nth-of-type(2) {
    width: 100%;
    height: auto;
  }

  .workspace > div:nth-of-type(3) {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 40px;
  }

  .worksheet-name {
    display: inline-block;
    margin: 10px;
  }

  .worksheet-drop {
    width: 200px;
    display: inline-block;
    margin: 10px;
  }

  .card-link {
    margin: 0px 20px;
    width: 200px;
    display: inline-block;
    white-space: normal;
    overflow-wrap: break-word;
  }

  .edit-links {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    display: block;
  }
}

@media (max-width: 721px) {
  .tips li {
    width: 100%;
  }
}

@media (max-width: 610px) {
  .create-new-card [type="radio"] {
    margin-top: 20px;
  }

  .radio-true label {
    margin-top: 15px;
  }
}

@media (max-width: 504px) {
  .create-new-card .part1 label {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .create-new-card select, .create-new-card textarea {
    display: block;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .subjects h1{
    font-size: 40px;
  }

  .subjects a {
    font-size: 17px;
  }
}
