:root {
  --offWhite: #f6fae6;    /*rgb(246, 250, 230)*/
  --lightYellow: #ead76c; /*rgb(234, 215, 108)*/
  --darkYellow: #d5aa19;  /*rgb(213, 170, 25)*/
  --lightGreen: #9fc177;  /*rgb(159, 193, 119)*/
  --darkGreen: #81a65f;   /*rgb(129, 166, 95)*/
  --dark: rgb(34, 34, 34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font: 16px "Montserrat", sans-serif;
}

a:active {
  color: var(--darkGreen);
}

/* Set size of window size */

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

/* Header */

header {
  line-height: 50px;
  background: gold;
  background: var(--offWhite);
  background: var(--dark);
}

header a {
  display: inline-block;
}

header a:not(.logo) {
  font-size: 18px;
  letter-spacing: 1px;
  color: #000;
  color: #fff;
  padding: 0 30px;
  border: 2px solid transparent;
  transition: .3s;
}

header a:not(.logo):hover {
  color: var(--lightYellow);
  border-bottom: 2px solid var(--offWhite);
}

.logo, .capital {
  color: black;
  color: #fff;
  font: 35px/50px "Gaegu", cursive;
  transition: .3s;
}

.capital {
  color: var(--lightYellow);
}

.logo:hover .capital {
  color: var(--darkYellow);
}

/*Navigation current page */

.tutorial-container .tutorial-link {
  color: var(--lightYellow);
  border-bottom: 2px solid var(--offWhite);
}

.workspace-container .workspace-link {
  color: var(--lightYellow);
  border-bottom: 2px solid var(--offWhite);
}

.worksheet-container .worksheet-link {
  color: var(--lightYellow);
  border-bottom: 2px solid var(--offWhite);
}

.subjects-container .subjects-link {
  color: var(--lightYellow);
  border-bottom: 2px solid var(--offWhite);
}

/* Main */

main.wrapper {
  padding: 50px 30px 0;
}

/* Landing page */
.tips li {
  list-style: none;
  margin-bottom: 20px;
}

.topic-stc {
  color: var(--darkGreen);
  font-weight: 600;
}

.logins > * {
  cursor: pointer;
}

.signup-in-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

form.signup {
  background: #fff;
  max-width: 500px;
  margin: 150px auto;
  padding: 50px;
  border-radius: 2px;
}

label {
  display: inline-block;
  width: 29%;
  font-size: 20px;
}

form div {
  margin-bottom: 20px;
}

input {
  width: 69%;
  font-size: 22px;
}

.form-options {
  margin-top: 40px;
}

.form-options > * {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
  cursor: pointer;
}

/* Worksheets page */
.worksheet {
  margin: 20px 0 40px;
  padding: 20px;
  border-left: 5px solid var(--lightGreen);
  border-bottom: 1px solid var(--darkGreen);
}

/* Workspace */
.workspace,
.workspace-edit {
  margin-top: 50px;
  height: 700px;
  display: flex;
  border: 2px solid #000;
}

.workspace > div, .workspace-edit > div {
  padding: 20px;
}

/* Workspace Worksheets List */
.workspace > div:nth-of-type(1),
.workspace-edit > div:nth-of-type(1) {
  width: 250px;
  background: var(--dark);
  color: #fff;
  overflow: scroll;
}

.allw {
  font-size: 22px;
  color: var(--darkGreen);
  margin-bottom: 20px;
}

.worksheet-name {
  font-size: 14px;
  margin-bottom: 8px;
}

.w-name {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Displayed Card */
.workspace > div:nth-of-type(2) {
  width: calc(100% - 500px);
  padding: 30px 20px 10px;
  overflow: scroll;
}

.bar {
  position: relative;
  top: -5px;
  border: 1px solid var(--dark);
  display: inline-block;
  margin: 0 20px;
  width: 30px;
}

.type {
  color: var(--darkGreen);
}

.card-display {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0 30px;
}

.card {
  width: 100%;
  margin-bottom: 30px;
  background: rgba(246, 250, 230, .5);
  border: 2px solid var(--dark);
  padding: 30px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 1px 1px 5px var(--darkGreen), -1px 1px 10px var(--dark);
}

.question {
  font-size: 22px;
}

.mc-options {
  margin: 18px 0 0;
}

.option-letter {
  font-weight: 600;
  font-size: 20px;
  color: var(--darkGreen);
  margin: 0 20px 0 0;
}

.option {
  margin: 8px 0;
  font-size: 18px;
}

h1.option {
  font-size: 22px;
}

.a-container {
  font-size: 20px;
}

.hide {
  display: none;
}

.answer {
  cursor: pointer;
}

.answer > p {
  background: rgba(34, 34, 34, .9);
  box-shadow: 1px 1px 1px var(--darkGreen), -1px 1px 10px var(--darkGreen);
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  width: 170px;
  height: 170px;
  margin: 40px auto 0;
  font: 100px/170px "Montserrat", sans-serif;
  color: var(--lightGreen);
}

.wsp-link, .not-active {
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.wsp-link {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  background: var(--darkYellow);
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  transition: .2s;
}

.wsp-link:hover {
  border: 2px solid var(--darkYellow);
  background: #fff;
  color: var(--darkYellow);
}

.not-active {
  border: 2px solid transparent;
  background: rgba(0, 0, 0, .5);
}

.not-active:active {
  color: #000;
}

.pn-buttons > * {
  display: inline-block;
  margin: 0px 30px 0 0;
}

/* Card Links */
.workspace > div:nth-of-type(3) {
  width: 250px;
  height: 100%;
  font-size: 10px;
  background: var(--darkGreen);
  overflow: scroll;
}

.card-link {
  margin: 20px 10px;
  padding: 10px;
  background: #fff;
  border: 3px solid transparent;
  font-weight: 600;
  color: #000;
  box-shadow: .5px 1px 5px var(--dark), -1px 1px 10px var(--dark);
  transition: .3s;
}

.card-link:hover {
  border: 3px solid var(--dark);
}

.card-link .w-name {
  font-size: 8px;
  margin-bottom: 5px;
}

.current {
  border: 3px solid var(--dark);
}

.card-link::after {
  content: "?";
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px auto 5px;
  padding: 10px;
  background: rgba(34, 34, 34, .9);
  box-shadow: 1px 1px 1px var(--darkGreen), -1px 1px 10px var(--darkGreen);
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  font: 30px/30px "Montserrat", sans-serif;
  color: var(--darkYellow);
}

/* Edit container */
.workspace-edit > div:nth-of-type(2) {
  width: calc(100% - 250px);
  padding: 30px 20px 10px;
  overflow: scroll;
}

.worksheet-drop {
  height: 70px;
  margin-bottom: 25px;
  border-bottom: 2px solid #fff;
  position: relative;
}

.drop {
  font-size: 13px;
  width: 170px;
  padding: 8px 0;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--darkGreen);
  color: var(--offWhite);
  border: 1px solid var(--darkGreen);
}

.drop:hover {
  background: var(--lightGreen);
  border: 1px solid var(--lightGreen);
}
