<% include ../partials/boilerplate %>
<body class="subjects-container">
<% include ../partials/header %>
<% include ../partials/logout %>
<% include ../partials/headerend %>

<main class="wrapper">
  <h1>Subjects</h1>
  <% subjects.forEach((subject) => { %>
    <div>
      <a href="/worksheets/type/<%=subject.id%>"><%= subject.subject %></a>
    </div>
  <% }) %>
</main>

<% include ../partials/end %>
