<% include ../partials/boilerplate %>
<body class="workspace_container">
<% include ../partials/header %>

<main class="wrapper">
  <h1 class="h-title">Workspace</h1>
  <div class="workspace-edit">
    <div>
      <h1 class="allw">All worksheets</h1>
      <% if(worksheets && worksheets.length > 0) { %>
        <% worksheets.forEach((worksheet) => { %>
          <div class="worksheet-drop">
            <h2 class="worksheet-name"><%= worksheet.name %></h2>
            <form action="/worksheets/<%=worksheet.id%>?_method=DELETE" method="post">
              <button class="drop">Delete From Workspace</button>
            </form>
          </div>
        <% }) %>
      <% } %>
    </div>

    <div>
      <a class="wsp-link" href="/workspace/">Back to workspace</a>
      <a class="wsp-link" href="/workspace/new">Create New Study Card</a>
    </div>
  </div>
</main>
