<% include ../partials/boilerplate %>
<body>
<% include ../partials/header %>

<main class="wrapper">
  <% if(worksheets.length > 0) { %>
    <form method="post" action="/workspace">
      <div class="part1">
        <div>
          <label for="wsheet">Worksheet Name</label>
          <select id="wsheet" name="worksheet_id">
            <% worksheets.forEach((worksheet) => { %>
              <option value="<%=worksheet.worksheet_id%>"><%= worksheet.name %></option>
            <% }) %>
          </select>
        </div>

        <div>
          <label for="question">Question</label>
          <textarea name="question" id="question" required></textarea>
        </div>

        <div>
          <label for="type">Type of Question</label>
          <select id="type" name="type_id">
            <% types.forEach((type, i) => { %>
              <option value="<%= i + 1 %>"><%= type.type %></option>
            <% }) %>
          </select>
        </div>
      </div>

      <div class="mc-container hide">
        <div>
          <label for="op1">Option 1</label>
          <textarea id="op1" name="options"></textarea>

          <label for="t">true</label>
          <input type="radio" name="istrue_id" id="t" value="0">
        </div>

        <div>
          <label for="op2">Option 2</label>
          <textarea id="op2" name="options"></textarea>

          <label for="t">true</label>
          <input type="radio" name="istrue_id" id="t" value="1">
        </div>

        <div>
          <label for="op3">Option 3</label>
          <textarea id="op3" name="options"></textarea>

          <label for="t">true</label>
          <input type="radio" name="istrue_id" id="t" value="2">
        </div>

        <div>
          <label for="op4">Option 4</label>
          <textarea id="op4" name="options"></textarea>

          <label for="t">true</label>
          <input type="radio" name="istrue_id" id="t" value="3">
        </div>
      </div>

      <div class="answer-value hide">
        <label for="ans">Answer</label>
        <textarea id="ans" name="option"></textarea>
      </div>

      <div class="trfl hide">
        <label for="tf">Is the question true or false?</label>
        <select id="tf" name="option1">
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>
      <input class="sbt hide" type="submit" name="" value="Create New card">
    </form>
    <button id="nxt">Next</button>
  <% } else { %>
    <p>You need to add a worksheet before you can edit!!!</p>
  <% } %>
</main>

<% include ../partials/script %>
<% include ../partials/end %>
